<div class="skvai chatt">
    <table>
        <tr>
            <td>
                <textarea [(ngModel)]="chattmsg.text" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
            </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
                    <textarea [(ngModel)]="chattreply.text" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>                    
            </td>
        </tr>
        <tr>
            <td>
                <button pButton type="button" label="Skicka" (click)="store()"></button>    
            </td>
            <td></td>
        </tr>
    </table>
</div>
