<div class="skvai chatt">
    <form>
        <table>
            <tr>
                <td>meddelande:</td>
                <td><input type="text" pInputText [(ngModel)]="chattmsg.text" [ngModelOptions]="{standalone: true}"/></td>
            </tr>
        </table>
    </form>

   <button pButton type="button" label="Rensa" (click)="clear()">Rensa</button>
    <span *ngIf="chattmsg.id != null && chattmsg.id > 0">
        <button  type="button" label="Spara" (click)="store()"></button>
    </span>
    <span *ngIf="chattmsg.id == null || chattmsg.id == 0">
        <button  type="button" label="Ny" (click)="store()">Ny</button>
    </span>

</div>
